.game-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-top: 20px
}

.score-board {
  font-size: 1.5rem;
  margin-bottom: 25px
}

.card-grid {
  grid-gap: 10px;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 5px;
  max-width: 600px;
  width: 300%
}

.card {
  cursor: pointer;
  height: 0;
  padding-bottom: 100%;
  perspective: 1000px;
  position: relative;
  width: 100%
}

.card-inner {
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform .6s;
  width: 100%
}

.card.flipped .card-inner {
  transform: rotateY(180deg)
}

.card-back,
.card-front {
  backface-visibility: hidden;
  border-radius: 10px;
  height: 100%;
  position: absolute;
  width: 100%
}

.card-front {
  background-color: #333
}

.card-back {
  align-items: center;
  backface-visibility: hidden;
  background-color: #fff;
  display: flex;
  height: 100%;
  justify-content: center;
  position: absolute;
  transform: rotateY(180deg);
  width: 100%
}

img {
  height: 80%;
  width: 80%
}

.modal {
  align-items: center;
  animation: fadeInPopup 1s ease-out forwards;
  background: #00000080;
  bottom: 0;
  display: flex;
  justify-content: center;
  left: 0;
  opacity: 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1000
}

@keyframes fadeInPopup {
  0% {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

.modal-content {
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px #00000080;
  color: #232323;
  padding: 20px;
  text-align: center
}

button {
  background-color: #4caf50;
  border: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  padding: 10px 20px
}

button:hover {
  background-color: #45a049
}

.reset-button {
  background-color: #4caf50;
  margin-top: 35px
}

.reset-button:hover {
  background-color: #429344
}

@media (max-width:768px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
    scale: 1.03;
    width: 110%
  }

  .card-grid,
  .score-board,
  h1 {
    scale: 1.09
  }
}

@media (max-width:480px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
    width: 110%
  }

  .card-grid,
  .score-board,
  h1 {
    scale: 1.09
  }
}

.music-icon {
  background: none;
  background-color: initial;
  border: none;
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 15px;
  top: 13px
}

@media (max-width: 768px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
    width: 110%;
    scale: 1.03;
  }

  h1,
  .score-board,
  .card-grid {
    scale: 1.09;

  }

}



@media (max-width: 480px) {
  .card-grid {
    grid-template-columns: repeat(4, 1fr);
    width: 110%;
  }

  h1,
  .score-board,
  .card-grid {
    scale: 1.09;


  }
}



